@media screen and (max-width: 1500px) {

    .app-cover-flex {
        width: 100%;
        display: flex;
        justify-content: center;
    
        .app-cover-item {
            width: 100%;
        }
    }
}